<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- used to load properties file -->
    <context:property-placeholder location="classpath:coaches.properties"/>
    <!-- dependencies declaration referencing class by classpath so they can be used by their id on beans -->
    <bean id="myFortune" class="com.leido.springdemo.Fortune.HappyFortuneService"/>
    <bean id="randomFortune" class="com.leido.springdemo.Fortune.NeutralFortuneService"/>
    <bean id="myCoach" class="com.leido.springdemo.Coaches.TrackCoach">

        <!-- set up constructor injection -->
        <constructor-arg ref="myFortune"/>
    </bean>
    <bean id="myCricketCoach" class="com.leido.springdemo.Coaches.CricketCoach">

        <!-- set up setter injection -->
        <property name="fortuneService" ref="randomFortune"/>

        <!-- injected variable values from properties file to fields -->
        <property name="emailAddress" value="${CricketCoach.email}"/>
        <property name="team" value="${CricketCoach.team}"/>

    </bean>


</beans>