<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="myFortune" class="com.leido.springdemo.Fortune.HappyFortuneService"/>
    <bean id="myCoach" class="com.leido.springdemo.Coaches.TrackCoach">

        <!-- set up constructor injection -->
        <constructor-arg ref="myFortune"/>
    </bean>
    <bean id="myCricketCoach" class="com.leido.springdemo.Coaches.CricketCoach">

        <!-- set up setter injection -->
        <property name="fortuneService" ref="myFortune"/>
        <property name="emailAddress" value="myemailnoarroba.something"/>
        <property name="team" value="Baltimore cuervos"/>
    </bean>


</beans>